# =====================================
# Python Virtual Environment
# =====================================
venv/

# =====================================
# Python Cache
# =====================================
__pycache__/
*.py[cod]

# =====================================
# Dataset (Large Files)
# =====================================
dataset/

# =====================================
# VS Code
# =====================================
.vscode/

# =====================================
# Environment Variables
# =====================================
.env

# =====================================
# Logs
# =====================================
*.log

# =====================================
# Windows Files
# =====================================
Thumbs.db
desktop.ini

# =====================================
# macOS Files
# =====================================
.DS_Store